<div class="catalog-container">
  <h3>{{title}}</h3>
  <div class="search-controls">
    <mat-form-field>
      <input matInput placeholder="Search..." type="text" [formControl]="searchBar">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="filterClasses()">Search!</button>
  </div>
  <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent($event)">
  </mat-paginator>
  <div class="catalog-view">
    <div *ngFor="let course of filtered_courses" class="example-item">
      <app-class-display *ngIf="course != undefined" [course]="course" [semesterId]="semesterId"></app-class-display>
    </div>
    <div *ngIf="!loaded">
      <app-loading></app-loading>
    </div>
    <div *ngIf="filtered_courses.length == 0">
      Nothing found. Please try again.
    </div>
  </div>
</div>
