.log-in-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-card {
  width: 25%;
}

mat-card-content {
  width: 100%;
}

mat-form-field {
  width: 90%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

.errors-display {
  width: 100%;
  text-align: center;
  margin-top: 5px;

  .error-card {
    background-color: #e79191;
    width: 75%;
    margin: 2px 5px;
  }
}
