<mat-card class="section-display-card">
  <mat-card-header>
    <div mat-card-avatar class="degree-requirement" title="Indicates the class fulfills a requirement for one of your degrees." *ngIf="section.part_of_degree"></div>
    <mat-card-title title="{{section.cdesc}}" *ngIf="!catalog_view">{{section.cname}}</mat-card-title>
    <mat-card-subtitle *ngIf="!catalog_view">{{section.class_dept}} {{section.class_number}} CRN: {{section.crn}}</mat-card-subtitle>
    <mat-card-title *ngIf="catalog_view">CRN: {{section.crn}}</mat-card-title>
    <mat-card-subtitle *ngIf="catalog_view">{{section.professor}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-meeting-days-display *ngFor="let mt of section.meeting_times" [meeting_days]="mt.meeting_days" [start_time]="mt.start_time" [end_time]="mt.end_time"></app-meeting-days-display>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="removable && !catalog_view" (click)="remove_section_to_schedule_option($event, section.crn)">REMOVE</button>
    <button mat-button *ngIf="!removable && !catalog_view" (click)="add_section_to_schedule_option($event, section.crn)">ADD</button>
    <a mat-button *ngIf="catalog_view" target="_blank" href="https://wl11gp.neu.edu/udcprod8/bwckschd.p_disp_detail_sched?term_in={{section.semester_id}}&crn_in={{section.crn}}">VIEW ON NEU</a>
  </mat-card-actions>
</mat-card>