.class-display-card {
  margin: 15px;
}

.class-display-card mat-card-content {
  padding: 0 15px;
}

.right-align {
  text-align: right;
}

.sections-display {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;

  app-section-display {
    min-width: 275px;
    margin: 5px 5px;
  }
}

mat-expansion-panel {
  margin-bottom: 15px;
}
