<mat-card class="class-display-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="degree-requirement" title="Indicates the class fulfills a requirement for one of your degrees." *ngIf="section.part_of_degree"></div>-->
    <mat-card-title>{{course.name}}</mat-card-title>
    <mat-card-subtitle>{{course.class_dept}} {{course.class_number}} || {{course.class_level}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="description">{{course.description}}</p>
    <p class="credit-hours"><b>Credit hours:</b> {{course.credit_hours}}</p>
    <mat-expansion-panel (closed)="prereqExpanded(false)" (opened)="prereqExpanded(true)">
      <mat-expansion-panel-header>
        <mat-panel-title>Prerequisites</mat-panel-title>
      </mat-expansion-panel-header>
      <app-display-prerequisites [course]="course" [expanded]="expanded_prereq">
      </app-display-prerequisites>
    </mat-expansion-panel>
    <mat-expansion-panel (closed)="sectionsExpanded(false)" (opened)="sectionsExpanded(true)">
      <mat-expansion-panel-header>
        <mat-panel-title>Sections</mat-panel-title>
      </mat-expansion-panel-header>
      <app-loading *ngIf="!loaded_sections"></app-loading>
      <div class="sections-display" *ngIf="loaded_sections">
        <p *ngIf="sections.length == 0">No sections found for this class during this semester.</p>
        <app-section-display *ngFor="let section  of sections;" [section]="section" [catalog_view]="true">
        </app-section-display>
      </div>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions class="right-align">
    <a mat-raised-button target="_blank"
      href="https://wl11gp.neu.edu/udcprod8/bwckctlg.p_disp_course_detail?cat_term_in={{semesterId}}&subj_code_in={{course.class_dept}}&crse_numb_in={{course.class_number}}">VIEW
      ON NEU</a>
  </mat-card-actions>
</mat-card>
