.user-edit-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-edit-card {
  width: 75%;
}

.user-edit-col-2 {
  display: flex;
  justify-content: center
}

.left-side,
.right-side {
  width: 40%;
  margin: 0 2.5%;
}

mat-card-content {
  width: 100%;
}

mat-form-field {
  width: 90%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  text-align: left;
  font-size: 1.5em;
}

.inline-btn {
  display: flex;
}
